body{
	color:white;
}
ul {
  display: table;
  margin: 0 auto;
}
.box{
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: Courier,Arial,sans-serif;
}
.pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.icon{
  width: 40px;
  height: 40px;
}

.dark{
	background-color: black;
	color:white;
}

.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h2{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
}

